<style>
  .log-container{
    width:70%;
    height: 400px;
    border:1px solid black;
  }
</style>

<div>
  <h1 class="text-center py-4">
    <%=title%>
  </h1>
  <div class="log-container mx-auto">

  </div>
</div>